/* .gradient{
    background: linear-gradient(
        135deg,
        rgba(18,194,233),
        rgba(196,133,237),
        rgba(245,79,89)
    );
    background-size: 400%;
    animation: anim 4s infinite alternate;
}

@keyframes anim {
    from{
        background-position: 0%;
    }
    to{
        background-position: 100%;
    }
} */
.gradient{
    background: rgb(8,105,114);
    background: linear-gradient(90deg, rgba(8,105,114,1) 0%, rgba(1,169,180,1) 47%, rgba(244,246,249,1) 88%);
-webkit-box-shadow: none;
-moz-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
}